<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <div class="panel-body" ng-controller="UsersController as user">
    <!-- This is the users page. -->
    <section ng-repeat="n in user.people.data track by $index">
      <span>id:&nbsp;</span><label>{{n.id}}</label>
      <span>email:&nbsp;</span><label>{{n.email}}</label>
      <span>Firstname:&nbsp;</span><label>{{n.firstname}}</label>
      <span>Lastname:&nbsp;</span><label>{{n.lastname}}</label>
    </section>
    <hr>


    <h3 class="panel-title">Creat new user</h3><br>
    <form method="post">
      <label>firstname:&nbsp;</label><input type="text" ng-model="user.obj.firstname"><br><br>
      <label>lastname:&nbsp;</label><input type="text" ng-model="user.obj.lastname">
      <label>email:&nbsp;</label><input type="text" ng-model="user.obj.email"><br><br>

      <button class="primary" type="submit" ng-click="user.submitData()">enter data</button>
    </form>
  </div>
</div>